# My Jupyter Notebook on IBM Watson Studio

Oleksii, Java software developer

<i>I want to get to expand my knowledge in a promising direction of development</i>

<h3>Code converts minutes to hours</h3>

In [2]:
minutes=200
hours=200//60
rem=200%60
print(minutes,' minutes equals - ', hours, 'hours and ',rem, ' munutes')

200  minutes equals -  3 hours and  20  munutes

<ol>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
</ol>
<table align='left'>
<tr>
    <th>Name</th>
</tr>
<tr>
    <td>Santa</td>
</tr>
    <tr>
        <td>Barbara</td>
    </tr>
</table>